<html>
    <head>
        <title>class 8</title>
        {%include "headers.njk"%}
    </head>

    <body>
        {% include "nav.njk" %}
        <p> this is my home page </p>

        <div class = 'all-content'>
        {% for post in dataToBeSent%}
            <div class = 'single-post'>
                {# accessing properties in database object #}
                <span>{{post.date}}</span>
                <a href ='/post/{{post._id}}'><img src = '{{post.filePath}}'></a>
                <p> {{post.dataCaption}} </p>
            </div>
        {% endfor%}
        </div>
    </body>
</html>