<html>
    <head>
        <title>
            one post
        </title>
    </head>
    <body>
        <span>{{dataToBeSent.date}}</span>
        <img src='{{dataToBeSent.filePath}}'> </a>
        <p>
            {{dataToBeSent.dataCaption}}
        </p>
    </body>
</html>